{{#if tags}}
{{#if tags.length}}
<div class="tags-wrap">
  Great for:
  <ul class="tag-list">
    {{#each tags}}
    <li class="tag-list-item"><span class="tag-list-item-btn selected"><a href="/tag/{{tag_name}}">{{tag_name}}</a></span></li>
    {{/each}}
  </ul>
</div>
{{/if}}
{{/if}}