<div class="title-bar">
  {{#if title}}
  <h1 id="homepage-header">{{title}}</h1>
  {{/if}}
  {{#if loggedIn}}
  <div class="filter-control">
    <select name="filter" class="filter-select">
      <option value="">Posts Matching...</option>
      <option value="all-posts">Anything</option>
      <option value="user-tags">Your Interests</option>
      <option value="user-likes">Your Likes</option>
    </select>
  </div>
  {{/if}}
</div>
{{#each posts as |post|}}
{{> post-card post}}
{{/each}}
{{#if loggedIn}}
<script src="/javascript/filter.js"></script>
<script src="/javascript/vote.js"></script>
{{/if}}